@media(min-width: 850px){
.search-input {
    background-color: #cdecff;
    font-size: 2vw;
    border: none;
    font-weight: bolder;
    width: 40vw;
    height: 10vh;
    padding-left: 1vw;
}
.search-input::placeholder {
    font-size: 2vw;
}
}

@media(max-width: 851px){
    .search-input {
        background-color: #cdecff;
        font-size: 7vw;
        border: none;
        font-weight: bolder;
        width: 50vw;
        height: 15vh;
        padding-left: 5vw;
        margin-left: 10vw;
}
    .search-input::placeholder {
        font-size: 7vw;
    }
}