@media(min-width: 850px){
.search-input {
    background-color: #cdecff;
    font-size: 2vw;
    border: none;
    font-weight: bolder;
    width: 40vw;
    height: 10vh;
    padding-left: 1vw;
}
.search-input::placeholder {
    font-size: 2vw;
}
}

@media(max-width: 851px){
    .search-input {
        background-color: #cdecff;
        font-size: 4vw;
        border: none;
        font-weight: bolder;
        width: 50vw;
        height: fit-content;
        padding: 2vh 0;
        text-align: center;
}
    .search-input::placeholder {
        font-size: 4vw;
    }
}